<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dotnetRGR.Properties.Settings.DotNetRGRConnectionString"
            connectionString="Data Source=DESKTOP-2CBA74H;Initial Catalog=DotNetRGR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dotnetRGR.Properties.Settings.netrgrConnectionString"
            connectionString="Data Source=DESKTOP-2CBA74H;Initial Catalog=netrgr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dotnetRGR.Properties.Settings.dotnet11ConnectionString"
            connectionString="Data Source=DESKTOP-2CBA74H;Initial Catalog=dotnet11;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dotnetRGR.Properties.Settings.drgrConnectionString"
            connectionString="Data Source=DESKTOP-2CBA74H;Initial Catalog=drgr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dotnetRGR.Properties.Settings.lab3ConnectionString"
            connectionString="Data Source=DESKTOP-2CBA74H;Initial Catalog=lab3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dotnetRGR.Properties.Settings.C__USERS_ATTOKTIST_DOCUMENTS_VISUAL_STUDIO_2015_PROJECTS_DOTNET15_DOTNET15_APP_DATA_DOTNET11_MDFConnectionString"
            connectionString="Data Source=DESKTOP-2CBA74H;Initial Catalog=&quot;C:\USERS\ATTOKTIST\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\DOTNET15\DOTNET15\APP_DATA\DOTNET11.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>